:root {
  --white: #f5f5f5;
  --gray: #cccccc;
  --dark-green: #1b6300;
  --light-green: #3bd500;
}

.pagination {
  margin-bottom: 2rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--light-green);
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: var(--white);
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: var(--light-green);
}

a:hover {
  color: var(--dark-green);
  text-decoration: underline;
}

button {
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-green);
}

input, select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

input, select:focus {
  border-color: var(--light-green);
  outline: none;
}

input [type="text"] {
  width: 250px;
}

input [type="number"] {
  width: 100px;
}